<div class="background">
  <div class="gradient">
    <div id='guide__page'
      class="page__content container custom-scroll shadow-box vmargin-right-20 vmargin-left-20 margin-bottom-50">
      <div class="content__container">
        <h2 class="main--title centered center-text">{{ 'mtd.common.title' | translate }}</h2>
        <div class="actions centered center-text">
          <span [ngClass]="routeAnimationsElements">{{ 'mtd.pages.guide.slogan' | translate }}</span>
         
          
          <br>
          <br>
           This page covers some information that users may find helpful when navigating this online dictionary: <br>
            <ol type="1">
              <li>The alphabet and how to pronounce sounds in the language </li>
              <li>The different variations of the alphabet that appear in word entries </li>
              <li>An introduction to inalienable nouns and how they are represented in the dictionary</li>
              <li>Noun plurality </li>
              <li>Speaker Plurality</li>
            </ol>
          <br>
          <h3>Alphabet</h3>
          The Dän Kʼí (Northern Tutchone) alphabet was developed with the Yukon Native Language Centre [link to website?]. The first version of the Dän Kʼí alphabet appeared in the 1977 Selkirk Indian Language Noun Dictionary [include link]. Over the last several decades the alphabet has undergone several updates, and different versions of the alphabet have appeared in various Dän Kʼí language resources. In 2021 the Yukon Native Language Centre published revised Dän Kʼí alphabet charts [link]. Through our work with speakers we have learned that the YNLC alphabet does not accurately represent every speakerʼs way of speaking their language. We are exploring options for how to adjust the current alphabet to be more representative. In the meantime, we are using a variation of YNLCʼs current alphabet, which is shared below.
          <br><br>
          Each ‘letter’ of the alphabet is introduced in the charts below. Sometimes a combination of letters are used to represent one sound in Dän Kʼí (i.e. &lt;tth&gt; or &lt;kw&gt;*).  
        
        
              </div>
            </div>
        </div>
    </div>
</div>
