$mtd-primary: mat-palette($mat-black, 100, 100, 100);
$mtd-accent: mat-palette($mat-light-blue, 600);
$mtd-warn: mat-palette($mat-pink, 600);

$mtd-theme: mat-light-theme($mtd-primary, $mtd-accent, $mtd-warn);
