$mtd-primary: mat-palette($mat-yellow, 500, 400, 900);
$mtd-accent: mat-palette($mat-black);
$mtd-warn: mat-palette($mat-pink, 600);

$mtd-theme: mat-light-theme($mtd-primary, $mtd-accent, $mtd-warn);
